# temp files
__*
!__init__.py
*.list
macveth_output.c*
codelet*.c
codelet*.h
# bytecode
__pycache__/
*cpython*
*.pyc
*.o
*.a
*.optrpt
tmp/

# results
old_files/
results/
output/
results_*/
data/
bin/
*.arff
*.csv

# asm
*.s
*.vec

# vscode
.vscode

# docs
_build/
_static/
_templates/

# temp files
*.swp
polybench*/
*.swo
*.tar.gz
*.log
*.txt
time_*
cyc_*

# LaTeX
*.bbl
*.aux
*.blg
*.fls
*.fdb*
*.synctex*
*.out
*.pdf

# Build
build/
dist/
test-codes/
*egg-info*