# temp files
__*
macveth_output.c*

# bytecode
__pycache__/
*cpython*
*.pyc
*.o
*.a

# results
old_files/
results/
output/
results_*/
data/
bin/
*.arff
*.csv

# asm
*.s
*.vec

# temp files
*.swp
polybench*/
*.swo
*.tar.gz
*.log
*.txt

