# temp files
__*

# bytecode
__pycache__/
*cpython*
*.pyc
*.o
*.a

# results
old_files/
results/
data/
bin/
*.arff
*.csv

# asm
*.s
*.vec

# temp files
*.swp
polybench*/
*.swo
test*
*test
*.tar.gz
*.log
*.txt

