tqdm
numpy==1.22.0
pandas
pyyaml==5.4
Sphinx==3.3.1
sphinxcontrib-serializinghtml
rinohtype
py-cpuinfo
pytest
graphviz
sklearn
colorama
pyperf
matplotlib
seaborn==0.11.2
KDEpy
dtreeviz
scipy
setuptools_scm